Django==5.2.10
beautifulsoup4==4.14.3
celery==5.5.3
dj-database-url==2.3.0
gunicorn==23.0.0
lxml==6.0.2
psycopg[binary]==3.3.3
python-dotenv==1.1.1
redis==6.4.0
requests==2.33.0
sentry-sdk[django]==2.18.0
whitenoise==6.9.0
